*~
*.swp
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
ar-lib
Makefile.in
Makefile
.deps/
.dirstamp
.libs/
*.lo
*.la
test-driver
smp_sdk_tests
*.o
*.log
*.trs
build
